@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Rubik+Mono+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e89051+24,cc4747+65,cc4747+65,cc3b3b+72 */
    background: linear-gradient(135deg, rgba(232,144,81,1) 24%,rgba(204,71,71,1) 65%,rgba(204,71,71,1) 65%,rgba(204,59,59,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: left;
    padding-right: 3%;
    box-sizing: border-box;
    align-items: stretch;
}

.divmenu {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(10, 10, 10);
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    padding: 2vh 0;
    z-index: 1000;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    gap: 5vw;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 1vh 2vw;
    transition: background 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: rgba(199, 21, 21, 0.808);
    border-radius: 0.5vw;
  }

header {
    background-color: rgb(10, 10, 10);
    background-size: contain;
    color: whitesmoke;
    display: block;
    flex-direction: row;
    max-width: 40vw;
    min-height: 100vh;
}

.img {
    display: block;
    width: fit-content;
    height: auto;
}

.img img {
    width: auto;
    max-width: 40vw;
    height: auto;
}

.contacto {
    padding-left: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-decoration: none;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.contacto li  {
    list-style: none;
    margin-top: 2vw;
    font-weight: bold;
    font-size: 1.8vw;
}

.contacto li a {
    text-decoration: none;
    color: inherit;
}

.icon {
    padding-right: 1vw;
}

.tituloInf {
    font-family: "Antonio", sans-serif;
    padding-left: 1vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-size: 2.5vw;
}

.imgPaises {
    display: block;
    width: fit-content;
    height: auto;
    
}

.imgPaises img {
    width: auto;
    max-width: 40vw;
    height: auto;
}

.idiomas {
    display: flex;
    padding-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

.idiomas ul {
    margin-right: 2vw;
}

.idiomas ul li {
    list-style: none;
    font-size: 1.5vw;
}

.informacion {
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

.informacion p {
    font-size: 1.5vw;
    text-align: justify;      
    width: 100%;              
    line-height: 1.4;
    box-sizing: border-box;
    padding-bottom: 2vw; 
}

.contenido {
    padding-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    font-family: "Antonio", sans-serif;
    font-size: 5vw;
}

.titulo2 {
    font-family: "Antonio", sans-serif;
    font-size: 3vw;
}

.subtitulo {
    font-family: "Antonio", sans-serif;
    font-size: 2vw;
    padding-bottom: 2vw;
}

.subtitulo2 {
    font-family: "Antonio", sans-serif;
    font-size: 1.5vw;
}

.experienciaCont {
    font-size: 1.3vw;
    font-size: 1.5vw;
    padding: 2vw;
}

.contenido ul {
    padding-top: 1vw;
}

/*Copyright*/

.copyright {
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    bottom: 0px;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw; 
}
.copyright p{
    text-align: center;
    font-family: "Antonio", sans-serif;
}

/*Redes sociales*/

.redesSociales{
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redesSociales li {
    color: whitesmoke;
    margin: 0 0.5vw;
    margin-bottom: 20px;
    list-style: none;
}

.redesSociales a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2vw; 
}

.redesSociales li:hover a {
    color: rgba(199, 21, 21, 0.808);
}